NODE_ENV="local"
PORT=4024
APPLICATION="ERP"
DATABASE_URL="postgresql://docker:docker@0.0.0.0:5432/erp_local?schema=public"
PASSPHRASE="123456"
PRIVATE_KEY="private_key"
PUBLIC_KEY="public_key"
PRISMA_CLI_BINARY_TARGETS = "debian-openssl-3.0.x"
CORS_ORIGIN="*"
ACTIVE_CACHE=false

